/* font-family: 'Poppins', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

h1{
   text-align: center;
   font-family:'Press Start 2P', cursive;
   font-size:30px;
   color: orange;
   
}

h2{
   text-align: center;
   font-family:'Press Start 2P', cursive;
   font-size: small;
}

body{
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center bottom;
   background-color: #efefef;
   background-size:  80% 50%;
}

button{
   background-color: orange;
   font-family:'Press Start 2P', cursive;
   font-size: 12px;
}

input{
   border: 2px solid orange;
   border-radius: 4px;
}

ul{
   font-family:'Press Start 2P', cursive;
}

#root {
   font-family:'Press Start 2P', cursive;
   font-size: x-small;
}

#name {
   font-size: medium;
   text-decoration: underline;
   border: solid orange;
   border-radius: 6px;
   background: orange;
}

.grid{
   margin: 80px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
   align-items:center;
}

.grid > article{
   background: white;
   border: none;
   box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
   border-radius: 20px;
   text-align: center;
   width: 250px;
   transition: transform .3s;
}

.grid > article:hover{
   transform: translateY(5px);
   box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}

.grid > article img{
   width: 100%;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}

.text{
   padding: 0 20px 20px;
}

.text h3{
   text-transform: uppercase;
   font-family:'Press Start 2P', cursive;
   font-size: small;

}

.text button{
   background:#ef6f6c;
   border-radius: 20px;
   border: none;
   color: white;
   padding: 10px;
   width: 100%;
   font-weight: 600;
   text-transform: uppercase;
   cursor: pointer;
}

@media (max-width: 768px){
   .grid{
      grid-template-columns: repeat(2,1fr);
   }
}

@media (max-width: 500px){
   .grid{
      grid-template-columns: repeat(1, 1fr);
   }

   .grid > article{
      text-align: center;
   }
}

img{
   width:150px;
   height:150px;
   object-fit: scale-down;
}