/* font-family: 'Poppins', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

h1{
   text-align: center;
   font-family:'Press Start 2P', cursive;
   font-size:30px;
   color: orange;
}

h2{
   text-align: center;
   font-family:'Press Start 2P', cursive;
   font-size: small;
}

body{
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center bottom;
   background-color: #efefef;
   background-size:  80% 50%;
   /* background-size: contain; */
}

button{
   background-color: orange;
   font-family:'Press Start 2P', cursive;
   font-size: 12px;
}

input{
   border: 2px solid orange;
   border-radius: 4px;
}

ul{
   font-family:'Press Start 2P', cursive;
}

#root {
   font-family:'Press Start 2P', cursive;
   font-size: x-small;
}

p {
   font-family: 'Sora', sans-serif;
   font-weight:bold;
}

#name {
   font-size: medium;
   text-decoration: underline;
   border: solid orange;
   border-radius: 6px;
   background: orange;
   margin-bottom: 0px;
}

.grid{
   margin: 80px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
   align-items:center;
   margin-bottom: 15px;
   margin-top: 10px;
}

.grid > article{
   background: white;
   border: none;
   box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
   border-radius: 20px;
   text-align: center;
   width: 250px;
   transition: transform .3s;
}

.grid > article:hover{
   transform: translateY(5px);
   box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}

.grid > article img{
   width: 100%;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}

.text{
   padding: 0 20px 20px;
}

.text h3{
   text-transform: uppercase;
   font-family:'Press Start 2P', cursive;
   font-size: small;

}

.text button{
   background:#ef6f6c;
   border-radius: 20px;
   border: none;
   color: white;
   padding: 10px;
   width: 100%;
   font-weight: 600;
   text-transform: uppercase;
   cursor: pointer;
}

@media (max-width: 768px){
   .grid{
      grid-template-columns: repeat(2,1fr);
   }
}

@media (max-width: 500px){
   .grid{
      grid-template-columns: repeat(1, 1fr);
   }

   .grid > article{
      text-align: center;
   }
}

img{
   width:150px;
   height:150px;
   object-fit: scale-down;
   margin-top: 0px;
   margin-bottom: 0px;
}


#name {
   padding-bottom: 0px;
   margin-bottom: 0px;
   font-size: larger;
}

#bodypf {
   position: relative;
   background: white;
   border: none;
   box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
   border-radius: 20px;
   text-align: left;
   width: 770px;
   height: 300px;
   transition: transform .3s;
   margin-bottom: 0px;
}

#totalpf{
   text-align: center;
   font-family:'Press Start 2P', cursive;
   font-size: large;
   color: orange;
}

.flip-card {
  background-color: transparent;
  width: 770px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  border-radius: 20px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: orange;
  transform: rotateY(180deg);
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  border-radius: 20px;
}

a{
   color: green;
   font-family:'Press Start 2P', cursive;
   border-radius: 5px;
   font-size: medium;
}

#sdglogo{
   width:150px;
   height:50px;
   object-fit:scale-down;
   margin-top: 0px;
   margin-bottom: 0px;
   background-color: aliceblue;
   border-radius: 10px;
}

.modal-container{
   background-color: rgba(0,0,0,0.3);
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.5s ease;
}

.modal-container.show {
   pointer-events: auto;
   opacity: 1;
}

.modalE{
   background-color: #fff;
   padding: 30px 50px;
   border-radius: 20px;
   box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
   width: 800px;
   height: 500px;
   max-width: 100%;
   max-height: 100%;
   text-align: center;
}

.modalS{
   background-color: #fff;
   padding: 30px 50px;
   border-radius: 20px;
   box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
   width: 800px;
   height: 500px;
   max-width: 100%;
   max-height: 100%;
   text-align: center;
}

.modalG{
   background-color: #fff;
   padding: 30px 50px;
   border-radius: 20px;
   box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
   width: 800px;
   height: 500px;
   max-width: 100%;
   max-height: 100%;
   text-align: center;
}

.modal h1 {
   margin: 0;
}

.columns {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
}

.column {
   flex: 33.33%;
   font-family: 'Sora', sans-serif;
   font-weight:bolder;
}

.column1 {
   flex: 30%;
   font-family: 'Sora', sans-serif;
   font-weight:bolder;
}

.modalUL {
   font-family: 'Sora', sans-serif;
   font-weight: 500;
   text-align: left;
}

#closeE, #closeS, #closeG {
   width: 100px;
   height: 40px;
   border-radius: 20px;
   cursor: pointer;
}

#closeE:hover, #closeS:hover, #closeG:hover{
   transform: translateY(5px);
}

.pfrating{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
}

.pfdescription{
   flex: 33.333%;
}

